- var locale = "de_DE";
- var title = "Frank Kirgis";
- var description = "";
- var author = "Frank Kirgis";
- var url = "https://www.kirgis.de/frank/";
- var image = "";

doctype html
html(lang='de')

    head
        include ../includes/head/meta.pug
        include ../includes/head/link.pug
        include ../includes/head/css.pug
        include ../includes/head/favicons.pug

    body.d-flex.flex-column.h-100

        header
            include ../includes/navbar/navbar-frank.pug

        main
            include ../includes/frank/section-top.pug
            include ../includes/frank/section-slogan.pug

        include ../includes/footer/footer-07.pug
        include ../includes/scripts.pug