- var locale = "de_DE";
- var title = "Frank Kirgis";
- var description = "E-Commerce Manager. Vater, 2 Söhne, getrennt lebend, zufrieden, glücklich und kreativ. Hier rein privat unterwegs.";
- var url = "https://www.kirgis.de/frank/";

- var headline = "Frank Kirgis";
- var datePublished = "2022-12-13";
- var dateModified = "2022-12-14";

- var author_name = "Frank Kirgis";
- var author_url = "https://www.kirgis.de/frank/";

- var organization_name = "Kirgis";
- var organization_url = "https://www.kirgis.de/";
- var organization_logo = "https://www.kirgis.de/media/logos/kirgis-logo-384x384.png";

- var image_url = "https://www.kirgis.de/media/profile/frank-kirgis-400x400.jpg";
- var image_width = "400";
- var image_height = "400";
- var image_copyright = "Frank Kirgis";

- var twitter_creator = "@Frank_Kirgis";
- var twitter_card = "summary_large_image";

- var jobTitle = "E-Commerce Manager";

doctype html
html(lang='de')

    head
        include ../includes/head/meta.pug
        include ../includes/head/link.pug
        include ../includes/head/css.pug
        include ../includes/head/favicons.pug
        include ../includes/head/social.pug
        include ../includes/head/json-article-frank.pug

    body.d-flex.flex-column.h-100

        header
            include ../includes/navbar/navbar-frank.pug

        main
            include ../includes/frank/section-top.pug
            include ../includes/frank/section-slogan.pug

        include ../includes/footer/footer-07.pug
        include ../includes/scripts.pug