section.py-5#slogan

    .container.px-5

        .row

            .col-lg-6

                .text.my-5

                    p.display-6.mb-5 
                        | you don't have permission to access this resource!<br>
