section.py-5#4

    .container.px-5

        .row.justify-content-center

            .col-lg-8.col-xxl-8

                .text.my-5
 
                    h2.h2.text-black.mb-4 4. Datenerfassung auf dieser Website

                    h3.h3.text-black.mb-4 Server-Log-Dateien
                    p.lead.fw-normal.text-muted.mb-4
                        | Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log-Dateien,
                        | die Ihr Browser automatisch an uns übermittelt. Dies sind:
                    ul
                        li.lead.fw-normal.text-muted.mb-4
                            | Browsertyp und Browserversion
                        li.lead.fw-normal.text-muted.mb-4
                            | verwendetes Betriebssystem
                        li.lead.fw-normal.text-muted.mb-4
                            | Referrer URL
                        li.lead.fw-normal.text-muted.mb-4
                            | Hostname des zugreifenden Rechners
                        li.lead.fw-normal.text-muted.mb-4
                            | Uhrzeit der Serveranfrage
                        li.lead.fw-normal.text-muted.mb-4
                            | IP-Adresse
                    p.lead.fw-normal.text-muted.mb-4
                        | Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
                    p.lead.fw-normal.text-muted.mb-4
                        | Die Erfassung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat
                        | ein berechtigtes Interesse an der technisch fehlerfreien Darstellung und der Optimierung seiner Website –
                        | hierzu müssen die Server-Log-Files erfasst werden.

                    h3.h3.text-black.mb-4 Anfrage per E-Mail, Telefon oder Telefax
                    p.lead.fw-normal.text-muted.mb-4
                        | Wenn Sie uns per E-Mail, Telefon oder Telefax kontaktieren, wird Ihre Anfrage inklusive aller daraus
                        | hervorgehenden personenbezogenen Daten (Name, Anfrage) zum Zwecke der Bearbeitung Ihres Anliegens
                        | bei uns gespeichert und verarbeitet. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
                    p.lead.fw-normal.text-muted.mb-4
                        | Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre Anfrage mit
                        | der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher Maßnahmen
                        | erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung auf unserem berechtigten Interesse an der
                        | effektiven Bearbeitung der an uns gerichteten Anfragen (Art. 6 Abs. 1 lit. f DSGVO) oder auf Ihrer
                        | Einwilligung (Art. 6 Abs. 1 lit. a DSGVO) sofern diese abgefragt wurde; die Einwilligung ist jederzeit
                        | widerrufbar.
                    p.lead.fw-normal.text-muted.mb-4
                        | Die von Ihnen an uns per Kontaktanfragen übersandten Daten verbleiben bei uns, bis Sie uns zur Löschung
                        | auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt
                        | (z. B. nach abgeschlossener Bearbeitung Ihres Anliegens). Zwingende gesetzliche Bestimmungen –
                        | insbesondere gesetzliche Aufbewahrungsfristen – bleiben unberührt.

