section.py-5#hosting
    .container.px-5
        .row.justify-content-center
            .col-lg-8.col-xxl-8
                .text.my-5
 
                    h2.h2.text-black.mb-4 2. Hosting
                    p.lead.fw-normal.text-muted.mb-4
                        | Wir hosten die Inhalte unserer Website bei folgendem Anbieter:

                    h3.h3.text-black.mb-4 Hetzner
                    p.lead.fw-normal.text-muted.mb-4
                        | Anbieter ist die Hetzner Online GmbH, Industriestr. 25, 91710 Gunzenhausen (nachfolgend Hetzner).

                    p.lead.fw-normal.text-muted.mb-4
                        | Details entnehmen Sie der Datenschutzerklärung von Hetzner:<br>
                        | <a href="https://www.hetzner.com/de/rechtliches/datenschutz" target="_blank" rel="noopener noreferrer">https://www.hetzner.com/de/rechtliches/datenschutz</a>

                    p.lead.fw-normal.text-muted.mb-4
                        | Die Verwendung von Hetzner erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO.
                        | Wir haben ein berechtigtes Interesse an einer möglichst zuverlässigen Darstellung unserer Website.
                        | Sofern eine entsprechende Einwilligung abgefragt wurde, erfolgt die Verarbeitung ausschließlich auf Grundlage von Art. 
                        | 6 Abs. 1 lit. a DSGVO und § 25 Abs. 1 TTDSG, soweit die Einwilligung die Speicherung von Cookies oder den Zugriff auf Informationen im Endgerät des Nutzers (z. B. Device-Fingerprinting) im Sinne des TTDSG umfasst.
                        | Die Einwilligung ist jederzeit widerrufbar.

                    h4.h4.text-black.mb-4 Auftragsverarbeitung
                    p.lead.fw-normal.text-muted.mb-4
                        | Wir haben einen Vertrag über Auftragsverarbeitung (AVV) zur Nutzung des oben genannten Dienstes geschlossen.
                        | Hierbei handelt es sich um einen datenschutzrechtlich vorgeschriebenen Vertrag, der gewährleistet, dass dieser die personenbezogenen 
                        | Daten unserer Websitebesucher nur nach unseren Weisungen und unter Einhaltung der DSGVO verarbeitet.
