section.py-5.bg-light#5

    .container.px-5

        .row.justify-content-center

            .col-lg-8.col-xxl-8

                .text.my-5
 
                    h2.h2.text-black.mb-4 5. Soziale Medien

                    h3.h3.text-black.mb-4 Rechtsgrundlage
                    p.lead.fw-normal.text-muted.mb-4
                        | Unsere Social-Media-Auftritte sollen eine möglichst umfassende Präsenz im Internet gewährleisten. 
                        | Hierbei handelt es sich um ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO.
                        | Die von den sozialen Netzwerken initiierten Analyseprozesse beruhen ggf. auf abweichenden Rechtsgrundlagen,
                        | die von den Betreibern der sozialen Netzwerke anzugeben sind (z.B. Einwilligung im Sinne des Art. 6 Abs. 1 lit. a DSGVO).

                    h3.h3.text-black.mb-4 Verantwortlicher und Geltendmachung von Rechten
                    p.lead.fw-normal.text-muted.mb-4
                        | Wenn Sie einen unserer Social-Media-Auftritte (z.B. Facebook) besuchen, sind wir gemeinsam mit dem Betreiber der 
                        | Social-Media-Plattform für die bei diesem Besuch ausgelösten Datenverarbeitungsvorgänge verantwortlich.
                        | Sie können Ihre Rechte (Auskunft, Berichtigung, Löschung, Einschränkung der Verarbeitung, Datenübertragbarkeit und Beschwerde) grundsätzlich sowohl ggü. 
                        | uns als auch ggü. dem Betreiber des jeweiligen Social-Media-Portals (z.B. ggü. Facebook) geltend machen.
                    p.lead.fw-normal.text-muted.mb-4
                        | Bitte beachten Sie, dass wir trotz der gemeinsamen Verantwortlichkeit mit den Social-Media-Portal-Betreibern nicht vollumfänglich Einfluss auf die 
                        | Datenverarbeitungsvorgänge der Social-Media-Portale haben. Unsere Möglichkeiten richten sich maßgeblich nach der Unternehmenspolitik des jeweiligen Anbieters.

                    h3.h3.text-black.mb-4 Speicherdauer
                    p.lead.fw-normal.text-muted.mb-4
                        | Die unmittelbar von uns über die Social-Media-Präsenz erfassten Daten werden von unseren Systemen gelöscht, sobald der Zweck für ihre Speicherung entfällt,
                        | Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt.
                        | Gespeicherte Cookies verbleiben auf Ihrem Endgerät, bis Sie sie löschen. Zwingende gesetzliche Bestimmungen – insb. Aufbewahrungsfristen – bleiben unberührt.

                    p.lead.fw-normal.text-muted.mb-4
                        | Auf die Speicherdauer Ihrer Daten, die von den Betreibern der sozialen Netzwerke zu eigenen Zwecken gespeichert werden, haben wir keinen Einfluss.
                        | Für Einzelheiten dazu informieren Sie sich bitte direkt bei den Betreibern der sozialen Netzwerke (z.B. in deren Datenschutzerklärung, siehe unten).

                    h3.h3.text-black.mb-4 Soziale Netzwerke im Einzelnen

                    h4.h3.text-black.mb-4 Facebook
                    p.lead.fw-normal.text-muted.mb-4
                        | Wir verfügen über ein Profil bei Facebook. Anbieter ist die Facebook Inc., 1 Hacker Way, Menlo Park, California 94025, USA.
                        | Facebook verfügt über eine Zertifizierung nach dem EU-US-Privacy-Shield.

                    p.lead.fw-normal.text-muted.mb-4
                        | Sie können Ihre Werbeeinstellungen selbstständig in Ihrem Nutzer-Account anpassen. Klicken Sie hierzu auf folgenden Link und loggen Sie sich ein:<br>
                        | <a href="https://www.facebook.com/settings?tab=ads" target="_blank" rel="noopener">https://www.facebook.com/settings?tab=ads</a>

                    p.lead.fw-normal.text-muted.mb-4
                        | Details entnehmen Sie der Datenschutzerklärung von Facebook:<br>
                        | <a href="https://www.facebook.com/about/privacy/" target="_blank" rel="noopener">https://www.facebook.com/about/privacy/</a>

                    h4.h3.text-black.mb-4 Twitter
                    p.lead.fw-normal.text-muted.mb-4
                        | Wir nutzen den Kurznachrichtendienst Twitter.
                        | Anbieter ist die Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA.
                        | Twitter verfügt über eine Zertifizierung nach dem EU-US-Privacy-Shield.

                    p.lead.fw-normal.text-muted.mb-4
                        | Sie können Ihre Twitter-Datenschutzeinstellungen selbstständig in Ihrem Nutzer-Account anpassen.
                        | Klicken Sie hierzu auf folgenden Link und loggen Sie sich ein:<br>
                        | <a href="https://twitter.com/personalization" target="_blank" rel="noopener">https://twitter.com/personalization</a>

                    p.lead.fw-normal.text-muted.mb-4
                        | Details entnehmen Sie der Datenschutzerklärung von Twitter:<br>
                        | <a href="https://twitter.com/de/privacy" target="_blank" rel="noopener">https://twitter.com/de/privacy</a>

                    h4.h3.text-black.mb-4 Instagram
                    p.lead.fw-normal.text-muted.mb-4
                        | Wir verfügen über ein Profil bei Instagram. Anbieter ist die Instagram Inc., 1601 Willow Road, Menlo Park, CA, 94025, USA.
                        | Details zu deren Umgang mit Ihren personenbezogenen Daten entnehmen Sie der Datenschutzerklärung von Instagram:<br>
                        | <a href="https://help.instagram.com/519522125107875" target="_blank" rel="noopener">https://help.instagram.com/519522125107875</a>
