section.py-5#quelle

    .container.px-5

        .row.justify-content-center

            .col-lg-8.col-xxl-8

                .text.my-5

                    p.lead.fw-normal.text-muted.mb-4
                        | Quelle:
                    i.bi-link
                    a(href='https://www.e-recht24.de', target='_blank', rel='noopener') https://www.e-recht24.de

