section.py-5#slogan

    .container.px-5

        .row.justify-content-center

            .col-lg-6
                .text.my-5
                p.display-6.mb-5 
                    | Sanftes Schütteln sorgt für eine gleichmäßige Verteilung und ein fruchtig frisches Geschmackserlebnis.

            .col-lg-6.order-last.align-items-center
                .text.my-5
                    h2.display-6.text-black.mb-2
                        | <a href="/frank/" class="text-reset">Frank Kirgis</a>
                    h2.display-6.text-black.mb-2
                        | <a href="/kay/" class="text-reset">Kay Kirgis</a>
                    h2.display-6.text-black.mb-2
                        | <a href="/fynn/" class="text-reset">Fynn Kirgis</a>
                    h2.display-6.text-black.mb-2
                        | <a href="/mike/" class="text-reset">Mike Kirgis</a>
