<footer class="py-4 mt-auto bg-dark">
  <div class="container py-5">
    <div class="row">
      <div class="col-6 col-md-3 mb-3">
        <h5 class="text-white">Frank Kirgis</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/kompetenzen/" class="nav-link p-0 text-muted">Kompetenzen</a></li>
          <li class="nav-item mb-2"><a href="/technologien/" class="nav-link p-0 text-muted">Technologien</a></li>
          <li class="nav-item mb-2"><a href="/referenzen/" class="nav-link p-0 text-muted">Referenzen</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h5 class="text-white">Nützliches</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/tools/" class="nav-link p-0 text-muted">Tools für E-Commerce Manager</a></li>
          <li class="nav-item mb-2"><a href="/tools/fonts-icons-fotos.html" class="nav-link p-0 text-muted">Fonts, Icons und Fotos</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h5 class="text-white">Rechtliches</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/impressum/" class="nav-link p-0 text-muted">Impressum</a></li>
          <li class="nav-item mb-2"><a href="/datenschutz/" class="nav-link p-0 text-muted">Datenschutz</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h5 class="text-white">Kontakt</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/kontakt/" class="nav-link p-0 text-muted">Kontaktformular</a></li>
        </ul>
      </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="text-white">&copy; 2022 Frank Kirgis</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-light" href="https://www.linkedin.com/in/frank-kirgis/" target="_blank" rel="noopener"><i class="bi-linkedin" style="font-size: 2rem; color: white;"></i></a></li>
        <li class="ms-3"><a class="link-light" href="https://github.com/fk-caupo" target="_blank" rel="noopener"><i class="bi-github" style="font-size: 2rem; color: white;"></i></a></li>
      </ul>
    </div>
  </div>
</footer>