footer.py-4.mt-auto.bg-dark
    .container.py-5
        .row
            .col-6.col-md-3.mb-3
                h5.text-white Frank Kirgis
                ul.nav.flex-column
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-muted(href='/kompetenzen/') Kompetenzen
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-muted(href='/technologien/') Technologien
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-muted(href='/referenzen/') Referenzen
            .col-6.col-md-3.mb-3
                h5.text-white Nützliches
                ul.nav.flex-column
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-muted(href='/tools/') Tools für E-Commerce Manager
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-muted(href='/tools/fonts-icons-fotos.html') Fonts, Icons und Fotos
            .col-6.col-md-3.mb-3
                h5.text-white Rechtliches
                ul.nav.flex-column
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-muted(href='/impressum/') Impressum
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-muted(href='/datenschutz/') Datenschutz
            .col-6.col-md-3.mb-3
                h5.text-white Kontakt
                ul.nav.flex-column
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-muted(href='/kontakt/') Kontakt
        .d-flex.flex-column.flex-sm-row.justify-content-between.py-4.my-4.border-top
            p.text-white © 2022 Frank Kirgis
            ul.list-unstyled.d-flex
                li.ms-3
                    a.link-light(href='https://www.linkedin.com/in/frank-kirgis/' target='_blank' rel='noopener')
                        i.bi-linkedin(style='font-size: 2rem; color: white;')
                li.ms-3
                    a.link-light(href='https://github.com/fk-caupo' target='_blank' rel='noopener')
                        i.bi-github(style='font-size: 2rem; color: white;')