footer.bg-dark.py-4.mt-auto
    .container.px-5
        .row.flex-column.flex-sm-row
            .col.mb-3
                .h5.text-white Frank Kirgis
                ul
                    li.nav-item 
                        a.link-light.small(href='/kompetenzen/') Kompetenzen
                    li.nav-item 
                        a.link-light.small(href='/technologien/') Technologien
                    li.nav-item 
                        a.link-light.small(href='/referenzen') Referenzen
                    li.nav-item 
                        a.link-light.small(href='/kontakt/') Kontakt
            .col.mb-3
                .h5.text-white Nützliches
                ul
                    li.nav-item 
                        a.link-light.small(href='/tools/') Tools
            .col.mb-3
                .h5.text-white Externes
                ul
                    li.nav-item 
                        a.link-light.small(href='https://www.linkedin.com/in/frank-kirgis/', target='_blank', rel='noopener') LinkedIn
                    li.nav-item 
                        a.link-light.small(href='https://github.com/fk-caupo', target='_blank', rel='noopener') GitHub
            .col.mb-3
                .h5.text-white Rechtliches
                ul
                    li.nav-item 
                        a.link-light.small(href='/impressum/') Impressum
                    li.nav-item
                        a.link-light.small(href='/datenschutz/') Datenschutz
