footer.bg-dark.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
            .col-auto
                .small.m-0.text-white Copyright &copy; Frank Kirgis 2022
            .col-auto
                a.link-light.small(href='/tools/') Tools
                span.text-white.mx-1 &middot;
                a.link-light.small(href='/impressum/') Impressum
                span.text-white.mx-1 &middot;
                a.link-light.small(href='/datenschutz/') Datenschutz
                span.text-white.mx-1 &middot;
                a.link-light.small(href='/kontakt/') Kontakt