footer.py-4.mt-auto.bg-dark

    .container.py-5

        .row

            .col-6.col-md-4.mb-4
                h5.text-white Kirgis
                ul.nav.flex-column
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-white(href='/frank/') Frank Kirgis
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-white(href='/kay/') Kay Kirgis
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-white(href='/fynn/') Fynn Kirgis
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-white(href='/mike/') Mike Kirgis

            .col-6.col-md-4.mb-4
                h5.text-white Kurioses
                ul.nav.flex-column
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-white(href='/elefantenkraftbruehe/') Elefantenkraftbrühe

            .col-6.col-md-4.mb-4
                h5.text-white Rechtliches
                ul.nav.flex-column
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-white(href='/impressum/') Impressum
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-white(href='/datenschutz/') Datenschutz

        .d-flex.flex-column.flex-sm-row.justify-content-between.py-4.my-4.border-top
            p.text-white © 2022 Frank Kirgis
