footer

    .container.px-5

        .row

            .col.mb-3
                .h5 Test
                ul.flex-column
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>

            .col.mb-3
                .h5 Test
                ul.flex-column
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>

            .col.mb-3
                .h5 Test
                ul.flex-column
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>

            .col.mb-3
                .h5 Test
                ul.flex-column
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>
                    li.nav-item.mb-2 <a href="#" class="nav-link p-0 text-muted">Home</a>
