- var locale = "de_DE";
- var title = "Mike Kirgis";
- var description = "";
- var author = "Frank Kirgis";
- var url = "https://www.kirgis.de/mike/";

- var image_url = "https://www.kirgis.de/media/profile/mike-kirgis-2008-10-12-02-bw.jpg";
- var image_width = "500";
- var image_height = "482";
- var image_copyright = "Frank Kirgis";

- var twitter_creator = "@Frank_Kirgis";
- var twitter_card = "summary_large_image";

- var jobTitle = "Schriftsteller";

doctype html
html(lang='de')

    head
        include ../includes/head/meta.pug
        include ../includes/head/link.pug
        include ../includes/head/css.pug
        include ../includes/head/favicons.pug
        include ../includes/head/json-person.pug

    body.d-flex.flex-column.h-100

        header
            include ../includes/navbar/navbar-mike.pug

        main
            include ../includes/mike/section-top.pug
            include ../includes/mike/section-slogan.pug

        include ../includes/footer/footer-07.pug
        include ../includes/scripts.pug