script(type='application/ld+json').
    {
    
    "@context":"http://schema.org/",
    "@type":"Organization",
    "name":"SecondRound Coaching Basel",
    "url":"https://secondround-coaching.ch/",
    "description":"SecondRound Coaching Basel hilft Jugendlichen und jungen Erwachsenen, die mit dem sozialen Umfeld, dem Gesetz oder mit sich selbst in Konflikt geraten sind.",
    "image":"https://secondround-coaching.ch/pic/coach-basel.png",
    
    "address":{
        "@type":"PostalAddress",
        "streetAddress":"Dornacherstrasse 8",
        "addressLocality":"Basel",
        "addressRegion":"BS",
        "postalCode":"4053",
        "addressCountry":"CH"
    },
    
    "telephone":"+41 (0)61 271 00 69"
    
    }