// startpage rich snippet
script(type='application/ld+json').
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "@id": "#author",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://www.zeit.de/autoren/K/Mely_Kiyak/index.xml"
        },
        "name": "Mely Kiyak",
        "jobTitle": "Kolumnistin bei ZEIT ONLINE",
        "image": {
            "@type": "ImageObject",
            "url": "https://img.zeit.de/autoren/K/Mely_Kiyak/mely-kiyak-3/square__900x900",
            "width": 900,
            "height": 900,
            "copyrightHolder": {
                "@type": "Person",
                "name": "\u00a9\u00a0Svenja Trierscheid"
                }
        },
        "publishingPrinciples": "https://blog.zeit.de/fragen/2018/09/22/leitlinien-der-redaktionen-von-zeit-und-zeit-online/",
        "url": "https://www.zeit.de/autoren/K/Mely_Kiyak/index.xml"
    }