// startpage rich snippet
script(type='application/ld+json').
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "@id": "#publisher",
        "name": "Caupo.Net | Digitalagentur für Professionals",
        "description": "Caupo.Net hilft Unternehmer:innen ihre Produkte und Dienstleistungen erfolgreich online zu verkaufen. Mit 20 Jahren Erfahrung unterstützen wir Sie bei der Umsetzung Ihres digatlen Projekts",
        "url": "https://www.caupo.net/",
        "image": {
            "@type": "ImageObject",
            "url": "https://www.caupo.net/media/screenshots/de/index.png",
            "width": 1920,
            "height": 1102
        },
        "logo": {
            "@type": "ImageObject",
            "url": "https://www.caupo.net/media/logo/android-chrome-192x192.png",
            "width": 192,
            "height": 192
        }
    }