script(type='application/ld+json').
    {
        "@context":"http://schema.org",
        "@type":"WebPage",
        "headline":"DER SPIEGEL | Online-Nachrichten",
        "mainEntityOfPage":"https://www.spiegel.de/",
        "name":"Homepage",
        "publisher":{
            "@type":"Organization",
            "logo":"https://www.spiegel.de/public/spon/images/logos/der-spiegel-h60.png",
            "name":"DER SPIEGEL",
            "sameAs":[
                "https://www.facebook.com/derspiegel",
                "https://www.instagram.com/spiegelmagazin/",
                "https://twitter.com/derspiegel"
            ]
        },
        "url":"https://www.spiegel.de/"
}
