section.py-5#top
    .container.px-5
        .row
            .col-lg-6
                .text.my-5
                    h1.display-5.text-black.mb-2 Mike Kirgis
                    .display-6.text-black.mb-2
                        | Schriftsteller<br>

            .col-lg-6
                .text.my-5
                    .display-6.text-black.mb-2
                        | 25.03.1967 - 30.09.2012<br>
                        | „Eine derbe Sehnsucht, gespeist aus einem unbändigen Durchhaltevermögen, veranlasste ihn dazu,
                        | seine zeitweise sekündlich zuklappenden Lider geöffnet zu halten, um mit einem glasigen Blick etwas Erstrebenswertes einzufangen.“
