section.py-5#slogan

    .container.px-5

        .row.justify-content-center

            .col-lg-6

                .text.my-5

                    p.display-6.mb-4 
                        | Schriftsteller<br>

                    p.lead.mb-3
                        | (* 25. März 1967 in Freiburg im Breisgau; † 30. September 2012 ebenda)

                    p.lead.mb-5 
                        | Nachruf von <i class="bi-link"></i> Dr. <a class="text-reset" href="https://de.wikipedia.org/wiki/Christine_Finke" target="_blank" rel="noopener">Christine Finke</a>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://mama-arbeitet.de/gestern-und-heute/nachruf-auf-mike-und-mich" target="_blank" rel="noopener">Nachruf auf Mike – und mich</a>

            .col-lg-6.order-last.align-items-center

                .text.my-5

                    p.display-6.mb-4.fs-2 
                        | Fragmente aus "Der Umstandsbraten"<br>

                    p.display-6.mb-4.fs-2
                        | „Eine derbe Sehnsucht, gespeist aus einem unbändigen Durchhaltevermögen, veranlasste ihn dazu,
                        | seine zeitweise sekündlich zuklappenden Lider geöffnet zu halten, um mit einem glasigen Blick etwas Erstrebenswertes einzufangen.“<br>
                        | - Mike Kirgis: Der Umstandsbraten 

