section.py-5#slogan

    .container.px-5

        .row.justify-content-center

            .col-lg-6

                .text.my-5

                    p.display-6.mb-5 
                        | Schriftsteller<br>
                        | 25.03.1967 - 30.09.2012<br>

            .col-lg-6.order-last.align-items-center

                .text.my-5

                    p.display-6.mb-5 
                        | „Eine derbe Sehnsucht, gespeist aus einem unbändigen Durchhaltevermögen, veranlasste ihn dazu,
                        | seine zeitweise sekündlich zuklappenden Lider geöffnet zu halten, um mit einem glasigen Blick etwas Erstrebenswertes einzufangen.“<br>
                        | - Mike Kirgis: Der Umstandsbraten 

                    p.lead.mb-5 
                        | Nachruf von Dr. Christine Finke<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://mama-arbeitet.de/gestern-und-heute/nachruf-auf-mike-und-mich" target="_blank" rel="noopener">Nachruf auf Mike – und mich</a>
