section.py-5#slogan

    .container.px-5

        .row.justify-content-center

            .col-lg-6
                .text.my-5
                    p.display-6.mb-5 
                        | Gymnasiast<br>
                        | Hier rein privat unterwegs.<br>

            .col-lg-6.order-last.align-items-center

                .text.my-5

                    p.display-6.mb-5 
                        | Schloßstraße 8<br>
                        | 79189 Bad Krozingen<br>
                        | <br>
                        | E-Mail: <a class="text-reset" href="mailto:fynn.kirgis@gmail.com<">fynny.kirgis@gmail.com</a><br>
