section.py-5#top
    .container.px-5
        .row
            .col-lg-6
                .text.my-5
                    h1.display-5.text-black.mb-2 Fynn Kirgis

            .col-lg-6
                .text.my-5
                    .display-6.text-black.mb-2
                        | Schloßstraße 8    <br>
                        | 79189 Bad Krozingen<br>
                        | <br>
                        | E-Mail: fynn.kirgis@gmail.com<br>
