- var locale = "de_DE";
- var title = "Impressum | Frank Kirgis";
- var description = "Frank Kirgis - Schloßstraße 8 - 79189 Bad Krozingen";
- var author = "Frank Kirgis";
- var url = "https://www.e-commerce-manager.eu/impressum/";

- var organization_name = "Kirgis";
- var organization_url = "https://www.kirgis.de/";
- var organization_logo = "https://www.kirgis.de/media/logos/kirgis-logo-384x384.png";

doctype html
html(lang='de')

    head
        include ../includes/head/meta.pug
        include ../includes/head/link.pug
        include ../includes/head/css.pug
        include ../includes/head/favicons.pug

    body.d-flex.flex-column.h-100

        header
            include ../includes/navbar/navbar-main.pug

        main
            include ../includes/impressum/section-top.pug

        include ../includes/footer/footer.pug
        include ../includes/scripts.pug