- var locale = "de_DE";
- var title = "403 | E-Commerce Manager ";
- var description = "Seite nicht gefunden";
- var author = "Frank Kirgis";
- var url = "https://www.e-commerce-manager.eu/403.html";

- var organization_name = "Kirgis";
- var organization_url = "https://www.kirgis.de/";
- var organization_logo = "https://www.kirgis.de/media/logos/kirgis-logo-384x384.png";

doctype html
html(lang='de')

    head
        include includes/head/meta.pug
        include includes/head/link.pug
        include includes/head/css.pug
        include includes/head/favicons.pug

    body.d-flex.flex-column.h-100

        header
            include includes/navbar/navbar-main.pug

        main
            include includes/403/section-top.pug
            include includes/403/section-slogan.pug

        include includes/footer/footer-07.pug
        include includes/scripts.pug