- var locale = "de_DE";
- var title = "Kirgis - Wir sind Kirgis";
- var description = "Frank Kirgis, Kay Kirgis, Fynn Kirgis, Mike Kirgis";
- var author = "Frank Kirgis";
- var url = "https://www.kirgis.de/";

- var logo_url = "https://www.kirgis.de/media/logos/kirgis-logo-384x384.png";
- var logo_width = "384";
- var logo_height = "384";

- var image_url = "https://www.kirgis.de/media/profile/frank-kirgis-150x150.jpg";
- var image_width = "150";
- var image_height = "150";

- var twitter_creator = "@Frank_Kirgis";
- var twitter_card = "summary_large_image";

doctype html
html(lang='de')

    head
        include includes/head/meta.pug
        include includes/head/link.pug
        include includes/head/css.pug
        include includes/head/favicons.pug
        include includes/head/social.pug
        include includes/head/json-organization-02.pug
    
    body.d-flex.flex-column.h-100

        header
            include includes/navbar/navbar-startpage.pug

        main
            include includes/startpage/section-top.pug
            include includes/startpage/section-slogan.pug

        include includes/footer/footer-07.pug
        include includes/scripts.pug