- var locale = "de_DE";
- var title = "Kay Kirgis";
- var description = "Gymnasiast hier rein privat unterwegs.";
- var url = "https://www.kirgis.de/kay/";

- var headline = "Kay Kirgis";
- var datePublished = "2022-12-13";
- var dateModified = "2022-12-14";

- var author_name = "Kay Kirgis";
- var author_url = "https://www.kirgis.de/kay/";
- var author_url_local = "/kay/";
- var author_image = "https://www.kirgis.de/media/profile/frank-kirgis-40x40.jpg";

- var organization_name = "Kirgis";
- var organization_url = "https://www.kirgis.de/";
- var organization_logo = "https://www.kirgis.de/media/logos/kirgis-logo-384x384.png";

- var image_url = "https://www.kirgis.de/media/profile/kay-kirgis-2022-400x400.jpg";
- var image_width = "400";
- var image_height = "400";
- var image_copyright = "Frank Kirgis";

- var twitter_creator = "@Frank_Kirgis";
- var twitter_card = "summary_large_image";

- var jobTitle = "Gymnasiast";

doctype html
html(lang='de')

    head
        include ../includes/head/meta.pug
        include ../includes/head/link.pug
        include ../includes/head/css.pug
        include ../includes/head/favicons.pug
        include ../includes/head/social.pug
        include ../includes/head/json-article.pug

    body.d-flex.flex-column.h-100

        header
            include ../includes/navbar/navbar-kay.pug

        main
            include ../includes/kay/section-top.pug
            include ../includes/kay/section-slogan.pug

        include ../includes/footer/footer.pug
        include ../includes/scripts.pug