- var locale = "de_DE";
- var title = "Kay Kirgis";
- var description = "Gymnasiast hier rein privat unterwegs.";
- var author = "Kay Kirgis";
- var url = "https://www.kirgis.de/kay/";

- var image_url = "https://www.kirgis.de/media/profile/frank-kirgis-400x400.jpg";
- var image_width = "400";
- var image_height = "400";
- var image_copyright = "Frank Kirgis";

- var twitter_creator = "@Frank_Kirgis";
- var twitter_card = "summary_large_image";

- var jobTitle = "Gymnasiast";

doctype html
html(lang='de')

    head
        include ../includes/head/meta.pug
        include ../includes/head/link.pug
        include ../includes/head/css.pug
        include ../includes/head/favicons.pug
        include ../includes/head/social.pug
        include ../includes/head/json-person.pug

    body.d-flex.flex-column.h-100

        header
            include ../includes/navbar/navbar-kay.pug

        main
            include ../includes/kay/section-top.pug
            include ../includes/kay/section-slogan.pug

        include ../includes/footer/footer-07.pug
        include ../includes/scripts.pug