section.py-5#slogan

    .container.px-5

        .row.justify-content-center

            .col-lg-6
                .text.my-5
                    p.display-6.mb-5 
                        | E-Commerce Manager<br>

            .col-lg-6.order-last.align-items-center
                .text.my-5
                    p.display-6.mb-5 
                        | Weiler Dottighofen 12<br>
                        | 79189 Bad Krozingen<br>
                        | <br>
                        | Tel: <a class="text-reset" href="tel:+491703864723">+49 (0)170 - 38 64 723</a><br>
                        | E-Mail: <a class="text-reset" href="mailto:frank.kirgis@gmail.com">frank.kirgis@gmail.com</a><br>
