section.py-5#slogan

    .container.px-5

        .row.justify-content-center

            .col-lg-6

                .text.my-5

                    p.display-6.mb-5 
                        | <i class="bi-link"></i> <a class="text-reset" href="https://www.e-commerce-manager.eu/" target="_blank" rel="noopener">E-Commerce Manager</a><br>
                        | Vater, 2 Söhne, getrennt lebend.<br>
                        | Meistens entspannt, zufrieden, glücklich und kreativ.<br>
                        | Kocht gerne auf einem Gasherd.<br>
                        | Gärtnert gerne mit den Kids.<br>
                        | Hier rein privat unterwegs.<br>

            .col-lg-6.order-last.align-items-center

                .text.my-5

                    h2.display-6.mb-2 Adresse
                    p.lead.mb-5
                        | Weiler Dottighofen 12<br>
                        | 79189 Bad Krozingen<br>

                    h2.display-6.mb-2 Kontakt
                    p.lead.mb-5
                        | Tel: <a class="text-reset" href="tel:+491703864723">+49 (0)170 - 38 64 723</a><br>
                        | E-Mail: <a class="text-reset" href="mailto:frank.kirgis@gmail.com">frank.kirgis@gmail.com</a><br><br>
                        | Web<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://www.e-commerce-manager.eu/" target="_blank" rel="noopener">https://www.e-commerce-manager.eu/</a><br><br>

                    h2.display-6.mb-2 Social
                    p.lead.mb-5 
                        | LinkedIn<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://www.linkedin.com/in/frank-kirgis/" target="_blank" rel="noopener">https://www.linkedin.com/in/frank-kirgis/</a><br><br>
                        | GitHub<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://github.com/frank-kirgis" target="_blank" rel="noopener">https://github.com/frank-kirgis</a><br><br>
                        | Instagram<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://www.instagram.com/frank.kirgis/" target="_blank" rel="noopener">https://www.instagram.com/frank.kirgis/</a><br><br>
                        | Twitter<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://twitter.com/Frank_Kirgis" target="_blank" rel="noopener">https://twitter.com/Frank_Kirgis</a><br><br>
                        | Facebook<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://www.facebook.com/frank.kirgis" target="_blank" rel="noopener">https://www.facebook.com/frank.kirgis</a><br><br>
