section.py-5#slogan

    .container.px-5

        .row.justify-content-center

            .col-lg-6
                .text.my-5
                    p.display-6.mb-5 
                        | E-Commerce Manager<br>

            .col-lg-6.order-last.align-items-center
                .text.my-5
                    p.display-6.mb-5 
                        | Weiler Dottighofen 12<br>
                        | 79189 Bad Krozingen<br>
                        | <br>
                        | Tel: +49 (0)170 - 38 64 723<br>
                        | E-Mail: frank.kirgis@gmail.com<br>
