section.py-5#slogan

    .container.px-5

        .row.justify-content-center

            .col-lg-6

                .text.my-5
                
                    p.display-6.mb-5 
                        | Gymnasiast<br>
                        | Hier rein privat unterwegs.<br>

            .col-lg-6.order-last.align-items-center

                .text.my-5

                    h2.display-6.mb-2 Adresse
                    p.lead.mb-5
                        | Schloßstraße 8<br>
                        | 79189 Bad Krozingen<br>

                    h2.display-6.mb-2 Kontakt
                    p.lead.mb-5 
                        | E-Mail: <a class="text-reset" href="mailto:kay.kirgis@gmail.com<">kay.kirgis@gmail.com</a><br>
