section.py-5#slogan

    .container.px-5

        .row.justify-content-center

            .col-lg-6.align-items-center

                .text.my-5

                    h2.display-6.mb-2 Privates
                    p.lead.mb-5 
                        | Instagram<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://www.instagram.com/frank.kirgis/" target="_blank" rel="noopener">https://www.instagram.com/frank.kirgis/</a><br><br>
                        | Unsplash<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://unsplash.com/de/@frank_kirgis/" target="_blank" rel="noopener">https://unsplash.com/de/@frank_kirgis/</a><br><br>
                        | Facebook<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://www.facebook.com/frank.kirgis" target="_blank" rel="noopener">https://www.facebook.com/frank.kirgis</a><br><br>
                        | Twitter<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://twitter.com/Frank_Kirgis" target="_blank" rel="noopener">https://twitter.com/Frank_Kirgis</a><br><br>

            .col-lg-6.align-items-center

                .text.my-5

                    h2.display-6.mb-2 Berufliches
                    p.lead.mb-5 
                        | E-Commerce Manager<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://www.e-commerce-manager.eu/" target="_blank" rel="noopener">https://www.e-commerce-manager.eu/</a><br><br>
                        | LinkedIn<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://www.linkedin.com/in/frank-kirgis/" target="_blank" rel="noopener">https://www.linkedin.com/in/frank-kirgis/</a><br><br>
                        | GitHub<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://github.com/frank-kirgis" target="_blank" rel="noopener">https://github.com/frank-kirgis</a><br><br>

                    h2.display-6.mb-2 Geschäftliches
                    p.lead.mb-5 
                        | Caupo.Net<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://www.caupo.net/" target="_blank" rel="noopener">https://www.caupo.net/</a><br><br>
                        | Ars Dessous<br>
                        | <i class="bi-link"></i>
                        | <a class="text-reset" href="https://www.ars-dessous.de/" target="_blank" rel="noopener">https://www.ars-dessous.de/</a><br><br>
