- var locale = "de_DE";
- var title = "Elefantenkraftbrühe";
- var description = "Dépardieu nuschelte, beim Kochen, etwas zue Belagerung von Paris und Elefantenkraftbrühe. Ich hörte nicht richtig zu.";
- var url = "https://www.kirgis.de/elefantenkraftbruehe/";

- var headline = "Elefantenkraftbrühe";
- var datePublished = "2022-12-13";
- var dateModified = "2022-12-15";

- var author_name = "Frank Kirgis";
- var author_url = "https://www.kirgis.de/frank/";
- var author_image = "https://www.kirgis.de/media/profile/frank-kirgis-40x40.jpg";

- var organization_name = "Kirgis";
- var organization_url = "https://www.kirgis.de/";
- var organization_logo = "https://www.kirgis.de/media/logos/kirgis-logo-384x384.png";

- var image_url = "https://www.kirgis.de/media/elefantenkraftbruehe.jpg";
- var image_alt = "Elefant";
- var image_width = "900";
- var image_height = "400";
- var image_copyright = "Will Shirley";
- var image_copyright_url = "https://unsplash.com/@willshirley";

- var twitter_creator = "@Frank_Kirgis";
- var twitter_card = "summary_large_image";

doctype html
html(lang='de')

    head
        include ../includes/head/meta.pug
        include ../includes/head/link.pug
        include ../includes/head/css.pug
        include ../includes/head/favicons.pug
        include ../includes/head/social.pug
        include ../includes/head/json-article-frank.pug

    body.d-flex.flex-column.h-100

        header
            include ../includes/navbar/navbar-frank.pug

        main
            include ../includes/elefantenkraftbruehe/section-top.pug

        include ../includes/footer/footer-07.pug
        include ../includes/scripts.pug