section.py-5#top

    .container.px-5.my-5

        .row.gx-5

            .col-lg-3

                .d-flex.align-items-center.mt-lg-5.mb-4

                    img.img-fluid.rounded-circle(src='/media/profile/frank-kirgis-40x40.jpg', alt='Frank Kirgis')
                    .ms-3
                        .fw-bold Frank Kirgis
                        .text-muted Kurioses

            .col-lg-9

                article

                    header.mb-4

                        h1.display-5.text-black.mb-2 #{title}


                    figure.mb-4
                        img.img-fluid(src='/media/elefantenkraftbruehe.jpg', alt='Elefantenkraftbrühe')

                    section.mb-5

                        p.lead.mb-4
                            | Dépardieu nuschelte, beim Kochen, etwas zur Belagerung von Paris und Elefantenkraftbrühe.
                            | Ich hörte nicht richtig zu.
                            | Am nächsten Tag wollte ich doch mehr wissen, so ein Produkt erzeugt Bilder im Kopf, aber kein Gérard war zur Erklärung erreichbar.
                            | Man könnte in der 221B nachfragen oder das Produkt selbst recherchieren. So einfach ist es aber nicht.
                        p.lead.mb-4
                            | Google meint lapidar:<br>
                            | Ergebnisse für Elefantenkraftbrühe<br>
                            | Keine Ergebnisse für Elefantenkraftbrühe gefunden
                                    
                        h2.display-6.mb-4.mt-5 Das bringt einen so nicht weiter.
                        p.lead.mb-4
                            | Wenn man jedoch die "Elefantenkraftbrühe" in die Sprache eines Volkes, das viel von qualitativ hochwertigen Lebensmitteln und deren Zubereitung versteht,
                            | übersetzt dann kommt man weiter.
                            | Gemeint ist die "Consommé d'Eléphant".
                            | Und schon wieder Bilder.
                            | Wer noch nie eine Consommé zubereitet hat wird sich jetzt fragen:

                        p.lead.mb-4
                            | Wie lange müsssen die Knochen vor dem Kochen geröstet werden?

                        p.lead.mb-4
                            | Wie groß muß der Topf sein in den die Knochen des Elefanten passen?

                        p.lead.mb-4
                            | Was zum zweiten Gang servieren?

                        p.lead.mb-4
                            | Was würde Paul Bocuse dazu sagen?

                        p.lead.mb-4
                            | Bekomme ich bei Franz Keller auf die Schnelle noch einen Bio-Elefant?

                        p.lead.mb-4
                            | Das alles werden wir hier nicht erfahren.
                            | Wohl aber die Namen der beiden, im Dezember 1870 in Paris verkochten Elefanten, die da lauteten <i class="bi-link"></i> <a class="text-reset" href="https://de.wikipedia.org/wiki/Castor_und_Pollux_(Elefanten)" target="_blank" rel="noopener">Castor und Pollux</a>.
                            | Deutsche Trupppen belagerten damals Paris, die Consommé wurde knapp.

                        p.fw-bolder.mb-4
                            | Bon appétit!
