meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name='robots', content='index,follow')
meta(name='description', content= description)
meta(name='author', content= author)
meta(name='locale', content='de_DE')

meta(name='msapplication-TileColor', content='#ffc40d')
meta(name='msapplication-config', content='/assets/favicons/browserconfig.xml')
meta(name='theme-color', content='#ffffff')