script(type='application/ld+json').
    {
        "@context": "http://schema.org/",
        "@type": "Organization",
        "name": "Kirgis",
        "url": "#{url}",
        "logo": "#{logo_url}",
    }
