// rich snippet person 
script(type='application/ld+json').
    {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Frank Kirgis",
        "url": "https://www.kirgis.de/frank/",
        "image": "https://www.kirgis.de/media/profile/frank-kirgis-400x400.jpg",
        "sameAs": [
            "https://www.linkedin.com/in/frank-kirgis/",
            "https://github.com/frank-kirgis",
            "https://www.instagram.com/frank.kirgis/",
            "https://twitter.com/Frank_Kirgis",
            "https://www.facebook.com/frank.kirgis/"
        ],
        "jobTitle": "E-Commerce Manager",
        "worksFor": {
            "@type": "Organization",
            "name": "Caupo.Net"
        }  
    }