script(type='application/ld+json').
    {
        "@context": "http://schema.org/",
        "@type": "Organization",
        "name": "#{organization_name}",
        "url": "#{organization_url}",
        "logo": "#{organization_logo}",
    }
