// link
link(rel='preload', href='/assets/theme/css/styles.css', as='style')
link(rel='preload', href='/assets/bootstrap-icons/1.9.1/bootstrap-icons.css', as='style')
link(rel='canonical', href= url)

