meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
if title
    title= title
if description
    meta(name='description', content= description)
meta(name='robots', content='index,follow')
if author
    meta(name='author', content= author)
meta(name='locale', content= locale)