section.py-5
    .container.px-5
        .row
            .col-lg-6
                .text.my-5
                    h1.display-5.text-black.mb-2 HTTP Fehler 404
        .row
            .col-lg-6
                .text.my-5
                    .display-6.text-black.mb-2
                        | Huch! Wir konnten die gewünschte Seite leider nicht finden!
                        | Es sieht so aus, als wurde diese Seite verschoben oder gelöscht.