/* fonts */
@font-face {
    font-family: Optima;
    src: url("/assets/fonts/optima/OptimaLTPro-Roman.otf") format("opentype");
}
@font-face {
    font-family: Optima;
    font-weight: bold;
    src: url("/assets/fonts/optima/OptimaLTPro-Bold.otf") format("opentype");
}
@font-face {
    font-family: Optima;
    font-weight: italic;
    src: url("/assets/fonts/optima/OptimaLTPro-Italic.otf") format("opentype");
}
