section.py-5#top

    .container.px-5

        .row.justify-content-center

            .col-lg-8.col-xxl-6
                .text.my-5

                    h1.display-5.text-black.mb-2 Impressum

                    p.lead.fw-normal.text-muted.mb-4
                        | Frank Kirgis<br>
                        | Schloßstraße 8<br>
                        | 79189 Bad Krozingen<br>
                        | Deutschland<br><br>

                    h2.display-6.text-black.mb-2 Kontakt
                    p.lead.fw-normal.text-muted.mb-4
                        | Tel: <a class="text-reset" href="tel:+491703864723">+49 (0)170 - 38 64 723</a><br>
                        | E-Mail: <a class="text-reset" href="mailto:frank.kirgis@gmail.com">frank.kirgis@gmail.com</a><br><br>
                        | LinkedIn <i class="bi-link"></i> <a class="text-reset" href="https://www.linkedin.com/in/frank-kirgis/" target="_blank" rel="noopener">https://www.linkedin.com/in/frank-kirgis/</a><br>
                        | GitHub <i class="bi-link"></i> <a class="text-reset" href="https://github.com/fk-caupo" target="_blank" rel="noopener">https://github.com/fk-caupo</a><br>
